@charset 'UTF-8';
@font-face {
  font-family: 'BenderRegular';
  font-weight: 400;
  font-style: normal;
  src: local('Bender Regular'), local('Bender-Regular'), url(../fonts/BenderRegular/BenderRegular.woff2) format('woff2'), url(../fonts/BenderRegular/BenderRegular.woff) format('woff'), url(../fonts/BenderRegular/BenderRegular.ttf) format('ttf'), url(../fonts/BenderRegular/BenderRegular.eot) format('eot')
}

@font-face {
  font-family: 'BenderLight';
  font-weight: 400;
  font-style: normal;
  src: local('Bender Light'), local('Bender-Light'), url(../fonts/BenderLight/BenderLight.woff2) format('woff2'), url(../fonts/BenderLight/BenderLight.woff) format('woff'), url(../fonts/BenderLight/BenderLight.ttf) format('ttf'), url(../fonts/BenderLight/BenderLight.eot) format('eot')
}

@font-face {
  font-family: 'BenderBold';
  font-weight: 400;
  font-style: normal;
  src: local('BenderBold'), local('Bender Bold'), url(../fonts/BenderBold/BenderBold.woff2) format('woff2'), url(../fonts/BenderBold/BenderBold.woff) format('woff'), url(../fonts/BenderBold/BenderBold.ttf) format('ttf'), url(../fonts/BenderBold/BenderBold.eot) format('eot')
}

@font-face {
  font-family: 'slick';
  font-weight: 400;
  font-style: normal;
  src: local('slick/slick'), url(../fonts/slick/slick.woff) format('woff'), url(../fonts/slick/slick.svg) format('svg'), url(../fonts/slick/slick.ttf) format('ttf'), url(../fonts/slick/slick.eot) format('eot')
}

/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.2;
  height: 100%
}

.mfp-figure figure, body {
  margin: 0
}

.slick-slide img, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

progress {
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

.slick-slide.slick-loading img, [hidden], template {
  display: none
}

a, mark {
  color: #000
}

a {
  background-color: transparent;
  text-decoration: none
}

a:active, a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: 700
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em
}

mark {
  background: #ff0
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
  color: inherit
}

button {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button
}

button[disabled], html input[disabled] {
  cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0
}

input {
  line-height: normal
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto
}

input[type=search] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid silver
}

legend {
  border: 0
}

textarea {
  overflow: auto;
  resize: none
}

optgroup {
  font-weight: 700
}

table {
  border-spacing: 0;
  border-collapse: collapse
}

legend, td, th {
  padding: 0
}

.slick-list, .slick-slider {
  position: relative;
  display: block
}

.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-dots li button:focus, .slick-dots li button:hover, .slick-list:focus {
  outline: 0
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-right: auto;
  margin-left: auto
}

.slick-track:after, .slick-track:before {
  display: table;
  content: ''
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-loading .slick-list {
  background: #fff url(./ajax-loader.gif) center center no-repeat
}

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-next:focus, .slick-next:hover, .slick-prev:focus, .slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before, .slick-next:focus:before, .slick-next:hover:before, .slick-prev:focus:before, .slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-dots li button:before, .slick-next:before, .slick-prev:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: '←'
}

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '→'
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

[dir=rtl] .slick-next:before {
  content: '←'
}

.slick-dotted.slick-slider {
  margin-bottom: 30px
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer
}

.slick-dots li button, button.mfp-arrow, button.mfp-close {
  display: block;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: 0 0
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  color: transparent;
  padding: 5px
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #000
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}

body {
  font-family: 'BenderRegular', Arial, sans-serif;
  position: relative;
  min-height: 100%;
  background: #fff;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

p {
  color: #000
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle
}

button, input, select {
  outline: 0
}

*, :after, :before, img.mfp-img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none
}

::selection {
  background: #b3d4fc;
  text-shadow: none
}

section {
  position: relative
}

.section__title {
  width: 100%;
  padding: 25px 0 45px;
  text-align: center
}

@media only screen and (max-width:600px) {
  .section__title {
    font-size: 1.25rem;
    padding: 15px 0 25px
  }
}

.wrapper {
  min-height: 100%;
  background: 0 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.content {
  background: #f6f6f6
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.content, .header__container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.cardlist {
  width: 100%;
  padding: 20px 34px 40px
}

.cardlist__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch
}

.cardlist__items:after {
  content: '';
  -webkit-box-flex: 1;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto
}

@media only screen and (max-width:600px) {
  .cardlist__items:after {
    display: none
  }
}

.cardlist__more {
  font-size: 1rem;
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid #578a40;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px #e4e4e4;
  box-shadow: 0 0 2px 1px #e4e4e4
}

.cardlist__more:active, .cardlist__more:focus, .cardlist__more:hover {
  background: #f6f6f6;
  -webkit-box-shadow: none;
  box-shadow: none
}

@media only screen and (max-width:1024px) {
  .cardlist .cardItem {
    margin: 0 25px 25px
  }
}

@media only screen and (max-width:600px) {
  .cardlist .cardItem {
    width: 175px;
    margin: 0 auto 20px
  }
}

.cardslider {
  padding: 0 38px 40px
}

.cardslider__items {
  width: 100%
}

.cardslider .slick-next, .cardslider .slick-prev {
  width: 35px;
  height: 80px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 3px;
  background: rgba(0, 0, 0, .5)
}

.cardslider .slick-next:focus, .cardslider .slick-next:hover, .cardslider .slick-prev:focus, .cardslider .slick-prev:hover {
  opacity: .75
}

.cardslider .slick-prev {
  left: -33px
}

.cardslider .slick-prev:before {
  font-size: 25px;
  content: '<'
}

.cardslider .slick-next {
  right: -33px
}

.cardslider .slick-next:before {
  font-size: 25px;
  content: '>'
}

.cardItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 220px;
  margin: 0 8px 15px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid #e4e4e4;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 1px #e4e4e4;
  box-shadow: 0 0 2px 1px #e4e4e4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.cardItem:active, .cardItem:focus, .cardItem:hover {
  border: 1px solid #578a40;
  -webkit-box-shadow: none;
  box-shadow: none
}

.cardItem__topline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.cardItem__iconLeft, .cardItem__iconRight {
  display: block;
  width: auto;
  height: 35px;
  -o-object-fit: contain;
  object-fit: contain
}

.cardItem__img {
  width: auto;
  height: 60px;
  margin-top: -10px;
  -o-object-fit: contain;
  object-fit: contain
}

.cardItem__label-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  max-width: 130px;
  margin: 15px auto 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.cardItem__iconLabel {
  width: auto;
  height: 15px;
  -o-object-fit: contain;
  object-fit: contain
}

.cardItem__accent, .cardItem__label {
  font-family: 'BenderBold', Arial, sans-serif
}

.cardItem__label {
  padding-left: 5px;
  font-size: .375rem;
  color: #578a40
}

.cardItem__accent {
  font-size: .5rem;
  color: #afbe7b
}

.cardItem__title {
  font-size: .5rem;
  height: 40px
}

.cardItem__middleline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 10px 0 5px;
  border-bottom: 1px solid #e4e4e4;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.cardItem__username {
  font-family: 'BenderBold', Arial, sans-serif;
  font-size: .5rem;
  position: relative;
  padding-left: 10px;
  color: #999
}

.cardItem__username:before {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: -2px;
  width: 8px;
  height: 8px;
  content: '';
  border-radius: 50%;
  background: #f6f6f6
}

.cardItem__rate {
  font-size: .625rem;
  color: #f6b139
}

.cardItem__rate i {
  padding-right: 3px
}

.cardItem__votes {
  padding-left: 3px;
  color: #999
}

.cardItem__bottomline {
  font-size: .625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.cardItem__bottomline i {
  cursor: pointer;
  color: #f6f6f6
}

.cardItem__bottomline i.active {
  color: #578a40
}

.cardItem__cost {
  font-family: 'BenderBold', Arial, sans-serif;
  color: #4b904b
}

.footer__container {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
