@import '../css/normalize.css'
@import '../css/jquery.bxslider.css'
@import '../css/jquery.fancybox.css'


.index-slider,
.product-item__second,
.product-gallery
	.bx-wrapper
		margin-bottom 0
		.bx-viewport
			left 0
			box-shadow none
			background none
			border none
