.lesson {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 80%;
    margin: 15px auto;
}

.first__lesson {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.two__lesson ul {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    list-style-type: none;
    text-align: center;
    background: azure;
}

.two__lesson li {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: brown;
    transition: all .3s ease;
}

.two__lesson li:hover {
    cursor: pointer;
    color: black;
}

.two__lesson li.strike {
    color: grey;
    text-decoration: line-through;
}

.two__lesson li.strike:hover {
    color: grey;
}

.three__lesson {
    flex-direction: column;
    align-items: center;
}

.three__lesson button,
.four__lesson button {
    margin: 15px auto;
}

.four__lesson {
    flex-direction: column;
    align-items: center;
}

.four__lesson .box{
    width: 150px;
    height: 150px;
    background: forestgreen;
}


.boo-enter-active,
.boo-leave-active {
    transition: all 1s ease-in-out;
}

.boo-enter,
.boo-leave-active {
    transform: scale(.2, .2) rotate(360deg) translateY(-100%);
    opacity: 0;
}

.five__lesson form {
    width: 50%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

}
