/* font-family: "PTSansRegular"; */
@font-face {
	font-family: "PTSansRegular";
	src: url("PTSansRegular/PTSansRegular.eot");
	src: url("PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
		url("PTSansRegular/PTSansRegular.woff") format("woff"),
		url("PTSansRegular/PTSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PTSansBold"; */
@font-face {
	font-family: "PTSansBold";
	src: url("PTSansBold/PTSansBold.eot");
	src: url("PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
		url("PTSansBold/PTSansBold.woff") format("woff"),
		url("PTSansBold/PTSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
