<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Practice</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="app">
        <div class="first__lesson lesson">
            <h1>{{ message }}</h1>
            <input type="text" v-model="message">
        </div>

        <div class="two__lesson lesson">
            <ul>
                <li v-for="item in items" :class="{ 'strike' : item.status }"> {{ item.name }}</li>
            </ul>
        </div>

        <div class="three__lesson lesson">
            <button @click="onClick">Click me</button>
            <input type="text" v-model="message" @keyup.enter="onClick">
        </div>

        <div class="four__lesson lesson">
            <button @click="show = !show">Click me too</button>
            <transition name="boo">
                <div class="box" v-show="show"></div>
            </transition>
        </div>

    </div>

    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
