//Боремся с устаревшими браузерами
script(src="https://yastatic.net/browser-updater/v1/script.js")
script.
	var yaBrowserUpdater = new ya.browserUpdater.init({
		"lang": "ru"
		, "browsers": {
			"yabrowser": "15.10"
			, "chrome": "52"
			, "ie": "9"
			, "opera": "40"
			, "safari": "8"
			, "fx": "47"
			, "iron": "35"
			, "flock": "Infinity"
			, "palemoon": "25"
			, "camino": "Infinity"
			, "maxthon": "4.5"
			, "seamonkey": "2.3"
		}
		, "theme": "blue"
	});
