*{
	padding:0;
	margin:0;
}
header, aside, article, footer{
	display: block;
}
html{
	width: 100%;
	height: 100%;
	min-height: 50em;
	background-color: #ccc;
}
body{
	width: 80%;
	min-height: 50em;
	background-color: #ffc;
	margin:0 auto;
}
header{
	height: 10em;
	background: url(../img/header_1.png) repeat-x;
}
.content{
	min-height: 35em;
}
aside{
	width: 26em;
	height: 35em;
	float: right;
}
article{

	padding-left: 1.5em;
	padding-top: 1em;
}
footer{	
	width:80%;
	position: absolute;
	height: 5em;
	background-color: #9cc;
}
footer p{
	text-align: right;
	padding: 2em;
}
h1, h2, p{
	margin: 0.5em;
}
.news{
	width: 23em;
	height: 7.5em;
	margin: 0.3em auto;
	padding: 0.25em 0.5em;
	border-radius: 3em 1em;
	box-shadow: 0 0 1em rgba(0,0,0,0.5);
	background-color: #cff;
}
.news:hover{
	box-shadow: none;
}
.logo{
	padding-top: 1.5em;
	text-align: center;
}
a{
	color: black;
	text-decoration: none;
}
.color{
	position: relative;
	top: 0.75em;
	display: block;
	float: right;	
}
.exit{
	display: block;
	float: left;
	padding: 1em;
	margin: 0.1em auto;	
}
input{
	margin-left: 1.2em;
}
.auth{
	margin: 15em auto;
	width: 25em;
	height: 10em;
	border-radius: 1em;
	background-color: #cff;
	box-shadow: 0 0 1em rgba(0,0,0,0.5);
}
.lp{
	padding: 3em;
}
.lp>input{
	margin: 1em 6em;
	padding: 0.5em 5em;
}
