@font-face {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoBold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlabBold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoSlabBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabBold.woff") format("woff"), url("../fonts/RobotoSlabBold.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlabRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoSlabRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabRegular.woff") format("woff"), url("../fonts/RobotoSlabRegular.ttf") format("truetype");
}

@font-face {
	font-family: "RobotoSlabLight";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoSlabLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoSlabLight.woff") format("woff"), url("../fonts/RobotoSlabLight.ttf") format("truetype");
}

@font-face {
	font-family: "ProximaNovaRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype");
}

@font-face {
	font-family: "ProximaNovaBold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ProximaNovaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNovaBold.ttf") format("truetype");
}


